{% extends "base.html" %}
{% block content %}
<h1>Hi, {{user.nickname}}!</h1>
{% for post in posts %}
<div><p>{{post.author.nickname}} says: <b>{{post.body}}</b></p></div>
{% endfor %}
<form action="auth/login" method="POST">
  {{form.hidden_tag()}}
  <input type="submit" value="Google登录"/>
</form>  
{% endblock %}
